/* Styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

/* Styles pour le titre */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Groupes d'input */
.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Bouton de validation */
button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #93BFEB;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

/* Message d'erreur */
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    height: 20px; /* Pour ne pas décaler l'interface même s'il n'y a pas d'erreur */
}

/* Message de succès */
.successMessage {
    color: green;
    font-size: 16px;
    margin-top: 20px;
}